[submodule "3rdParty/ElaWidgetTools"]
	path = 3rdParty/ElaWidgetTools
	url = https://github.com/julixian/ElaWidgetTools.git
[submodule "3rdParty/sol2"]
	path = 3rdParty/sol2
	url = https://github.com/julixian/sol2.git
[submodule "3rdParty/OpenCC"]
	path = 3rdParty/OpenCC
	url = https://github.com/BYVoid/OpenCC
[submodule "3rdParty/pybind11"]
	path = 3rdParty/pybind11
	url = https://github.com/julixian/pybind11.git
